body {
  font-family: sans-serif;
  font-size: 1.1em;
  background-color:#eee;
}
.navbar {
  max-height: 50px;
}
.navigation .navbar-brand {
  color: rgb(50, 150, 175);
  margin-left: 0px;
  padding: inherit;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  font-family: inherit;
}
.navbar {
  background-color: rgb(255, 255, 255);
  font-size: 25px; 
}
.active, .dropdown-menu .dropdown-item:active a:hover {
  background-color: rgb(255,255,255);
}
.dropdown-item {
  color: rgba(50, 150, 175, 0.75);
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(50, 150, 175, 0.75);
}

.nav-link:hover {
  background-color:rgba(50, 150, 175, 0.75);
 }

.navbar-brand:hover {
color: rgb(50, 150, 175);
}
a {
  color: rgb(231, 231, 231);
  font-size: 15px;
}

img{
  width:100%;
  height:100%;
}
.active, .panel:hover {
  border-color:rgb(50, 150, 175);
  border-style: solid;
  
}
.vizualization {

}

.title {
  color: rgb(50, 150, 175);
  font-family: inherit;
  font-weight: bolder;
  padding-top: 10px;
}

p {
color: rgb(50, 150, 175);
font-family: inherit;
font-size: 16px;
}

.box {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  color: #ffffff;
  background-color: rgb(255, 255, 255);

}

.table {
  font-size: 15px;
  border-top-color: rgb(255, 255, 255);
}

footer {
background-color: #000000;
border-top-style: solid;
border-top-width: 5px;
border-top-color: rgb(50, 150, 175);
color: rgb(211, 252, 255);
min-height: 50px;
font-family: inherit;
font-size: 10px;
text-align: center;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px;
}

@media(max-width: 992px) {
  .navbar-expand-lg {
  background-color: #000000;
  }
  .navbar {
    max-height: none;
    padding: inherit;
  }
  .navbar div {
    margin: inherit;
    background-color: rgb(255,255,255);
  }
  .navbar-brand {
    padding: 10px;
  }
  button{
    margin-right: 30px;
  }
  button:focus {
    outline: 1px dotted;
    outline: auto 5px;
  }
}